<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="{{url_for('recieve_data')}}" method="post">
        <label for="">Name: </label>
        <input type="text" name="username" placeholder="Name">
        <label for="">Password: </label>
        <input type="password" name="password" id="" placeholder="Password">
        <button type="submit">ok</button>
    </form>
</body>

</html>