<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div id="card">
        <div id="content">
            <img id="profile-pic" src="static/angela.png" alt="Profile pic">
            <hr>
            <div id="text">ANGELA YU</div>
            <div id="text2">SENIOR WEB DEVELOPER</div>
            <span id="socials">
                <div class="social"></div>
                <div class="social"></div>
                <div class="social"></div>
            </span>
        </div>
    </div>
</body>

</html>