<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <!-- for multiline statement in jinja the first line of python code must begin with {} and inside it must have %% and 
        at the end you do the same thing only insde them you have endfor -->
    <!-- {% for blog_post in posts %}
    <h1>{{blog_post["title"]}}</h1>
    <h2>{{ blog_post["subtitle"] }}</h2>
    {%endfor%} -->
    <!-- it works with if statements to0 -->
    {% for post in posts %}
    {%if post["id"] == 2 %}
    <h1>{{post["title"]}}</h1>
    <h2>{{post["subtitle"]}}</h2>
    {%endif%}
    {%endfor%}

</body>

</html>